﻿@model IEnumerable<qedge.tac.local.Models.SlideIntro>

<div class="qedge-slider">
    <div class="box-cover">
        <div class="intro" id="slide-intros">
            @foreach (var item in Model)
            {
                var i = Model.FirstOrDefault();
                if (item.Equals(i))
                {
                    <div class="active">
                        <h3 class="title">@item.Title</h3>
                        <p class="detail">@item.Intro</p>
                        <a href="@item.Url" class="more">@item.More</a>
                    </div>
                }
                else
                {
                    <div class="">
                        <h3 class="title">@item.Title</h3>
                        <p class="detail">@item.Intro</p>
                        <a href="@item.Url" class="more">@item.More</a>
                    </div>
                }
            }
            @*<div class="">
                <h3 class="title">QEDGE GROUP</h3>
                <p class="detail">To create the value of the Internet age with high and new technology</p>
                <a href="http://www.qedge.cn/en.html" class="more">+More</a>
            </div>
            <div class="">
                <h3 class="title">QEDGE IT</h3>
                <p class="detail">One-stop Internet solution provider</p>
                <a href="http://it.qedge.cn/" class="more">+More</a>
            </div>
            <div class="active">
                <h3 class="title">iSF Innovation</h3>
                <p class="detail">International Hi-Tech Incubator helps startups with cutting-edge technology</p>
                <a href="http://www.qedge.cn/isf/index.html" class="more">+More</a>
            </div>
            <div>
                <h3 class="title">International Cooperation Transit Station</h3>
                <p class="detail">Intelligent insights into international market</p>
                <a href="http://www.qedge.cn/isf/index-en.html" class="more">+More</a>
            </div>*@
        </div>
        <div class="controls">
            <a id="slider-prev" href="javascript:;"></a>
            <a id="slider-next" href="javascript:;"></a>
        </div>
    </div>
    <div class="lSSlideOuter ">
        <div class="lSSlideWrapper usingCss" style="transition-duration: 1000ms; transition-timing-function: ease;">
            <ul id="lightSlider" class="lightSlider lsGrab lSSlide" style="width: 11418px; transform: translate3d(-5709px, 0px, 0px); height: 670px; padding-bottom: 0%;">
                @*<li style="background-image: url(&quot;@Model.LastOrDefault().Image&quot;); width: 1903px; margin-right: 0px;" class="clone left"></li>*@
                @foreach (var item in Model)
                {
                    <li>@item.Image</li>
                }
                @*<li style="background-image: url(&quot;images/guojihezuo.jpg&quot;); width: 1903px; margin-right: 0px;" class="clone right"></li>*@
                @*<li style="background-image: url(&quot;images/guojihezuo.jpg&quot;); width: 1903px; margin-right: 0px;" class="clone left"></li>
                <li style="background-image: url(&quot;images/ruizhekonggu.jpg&quot;); width: 1903px; margin-right: 0px;" class="lslide"></li>
                <li style="background-image: url(&quot;images/ruizhexinxi.jpg&quot;); width: 1903px; margin-right: 0px;" class="lslide"></li>
                <li style="background-image: url(&quot;images/zhizaisifang.jpg&quot;); width: 1903px; margin-right: 0px;" class="lslide active"></li>
                <li style="background-image: url(&quot;images/guojihezuo.jpg&quot;); width: 1903px; margin-right: 0px;" class="lslide"></li>
                <li style="background-image: url(&quot;images/ruizhekonggu.jpg&quot;); width: 1903px; margin-right: 0px;" class="clone right"></li>*@
            </ul>
        </div>
    </div>
</div>

