body {

}


.visible-on-desktop {
    display: block!important;
}
.visible-on-mobile {
    display: none!important;
}
@media screen and (max-width: 1079px) {
    .visible-on-desktop {
        display: none!important;
    }
    .visible-on-mobile {
        display: block!important;
    }
}

.qedge-menu-opened {
    height: 100%;
    overflow: hidden;
}
.qedge-menu-opened body {
    max-height: 100%;
    overflow: hidden;
}


.qedge-container {
    margin: 0 auto;
    width: 1080px;
}
@media screen and (max-width: 1079px) {
    .qedge-container {
        box-sizing: border-box;
        padding: 0 10px;
        width: 100%;
    }
}


.qedge-header {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 40;
}
#header-bg {
    background-image: url(images/bg-header.png);
    background-repeat: repeat-x;
    content: " ";
    display: block;
    height: 104px;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
}
.qedge-header .pure-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 99px;
    justify-content: space-between;
    position: relative;
    z-index: 30;
}
.qedge-header .pure-menu:before {
    background-color: rgba(86, 92, 111, 0.9);
    border-radius: 50%;
    content: " ";
    display: block;
    height: 0px;
    position: fixed;
    right: 0;
    top: 0;
    width: 0px;
    transition: all ease 0.5s;
    z-index: 10;
}
.qedge-menu-opened .qedge-header .pure-menu:before {
    height: 4000px;
    right: -2000px;
    top: -2000px;
    width: 4000px;
}
.qedge-header .pure-menu .menu-toggle {
    color: #FFFFFF;
    display: none;
    font-size: 24px;
    font-weight: 200;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    width: 40px;
}
.qedge-header .pure-menu .menu-box {
    display: block;
}
.qedge-header .pure-menu .pure-menu-heading {
    padding: 0;
}
.qedge-header .pure-menu .pure-menu-heading img {
    height: 41px;
}
.qedge-header .pure-menu .pure-menu-link {
    border: 2px solid transparent;
    color: #FFFFFF;
    font-size: 12px;
    padding: 3px 12px;
}
.qedge-header .pure-menu .pure-menu-link:focus {
    background-color: transparent;
}
.qedge-header .pure-menu .pure-menu-link:hover,
.qedge-header .pure-menu .pure-menu-link:active {
    border-color: #FFFFFF;
    background-color: transparent;
}
.qedge-header .pure-menu .pure-menu-list {
    margin-right:40px;
}
.qedge-header .pure-menu .lang {
    display: inline-block;
    font-size: 11px;
}
.qedge-header .pure-menu .lang a {
    color: #CDCDCD;
    padding: 0 5px;
    text-decoration: none;
}
.qedge-header .pure-menu .lang a.active {
    color: #FFFFFF;
}
.qedge-header .pure-menu .lang a:first-child {
    border-right: 1px solid #FFFFFF;
}
@media screen and (max-width: 1079px) {
    .qedge-header .pure-menu .menu-toggle {
        display: block;
    }

    .qedge-header .pure-menu .menu-box {
        display: none;
        position: fixed;
    }
    .qedge-header .pure-menu .menu-box.active {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        bottom: 0;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 30;
    }
    .qedge-header .pure-menu .menu-box a:active {
        background-color: rgba(255,255,255,0.1);
    }
    .qedge-header .pure-menu .menu-box .pure-menu-list {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 30px 20px;
        width: 100%;
    }
    .qedge-header .pure-menu .menu-box .menu-toggle {
        position: absolute;
        top: 30px;
        right: 10px;
    }
    .qedge-header .pure-menu .menu-box .pure-menu-list .pure-menu-link {
        border: none;
        border-bottom: 1px solid rgba(255,255,255,0.3);
        padding: 15px 5px;
    }
    .qedge-header .pure-menu .menu-box .lang {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 15px 20px;
        width: 100%;
    }
    .qedge-header .pure-menu .menu-box .lang a {
        border: 1px solid rgba(255,255,255,0.1);
        display: block;
        margin-right: 20px;
        padding: 10px 15px;
    }

}




.qedge-slider {
    background-color: #F2663B;
    height: 670px;
    position: relative;
}
.qedge-slider li {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 670px;
}
.qedge-slider .box-cover {
    background-color: rgba(224,76,31,0.9);
    bottom: -20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 50%;
    padding: 35px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
}
.qedge-slider .box-cover .intro {
    background: linear-gradient(to right, rgba(255,255,255,0.5) 0, rgba(255,255,255,0.5) 97px, transparent 99px);
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -135px;
    min-height: 270px;
    padding: 0 50px 0 135px;
    position: relative;
    width: 480px;
}
.qedge-slider .box-cover .intro > div {
    display: none;
}
.qedge-slider .box-cover .intro > .active {
    display: block;
}
.qedge-slider .box-cover .intro .title {
    font-size: 24px;
    font-weight: 200;
    margin: 0 0 10px 0;
    padding: 0;
}
.qedge-slider .box-cover .intro .detail {
    font-weight: 200;
    margin: 0 0 10px 0;
}
.qedge-slider .box-cover .intro .more {
    color: #FFFFFF;
    font-size: 12px;
}
.qedge-slider .box-cover .controls {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.qedge-slider .box-cover .controls a {
    background-color: #EBEBEB;
    color: #454545;
    display: block;
    height: 30px;
    margin-right: 5px;
    position: relative;
    text-decoration: none;
    width: 30px;
}
.qedge-slider .box-cover .controls a:after {
    content: " ";
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
}
#slider-prev:after {
    border-left: 1px solid #666666;
    border-bottom: 1px solid #666666;
    left: 12px;
    top: 10px;
    transform: rotate(45deg);

}
#slider-next:after {
    border-right: 1px solid #666666;
    border-bottom: 1px solid #666666;
    transform: rotate(-45deg);
    top: 10px;
    right: 12px;
}
@media screen and (max-width: 1079px) {
    .qedge-slider .box-cover {
        left: 25%;
    }
    .qedge-slider .box-cover .intro {
        background: linear-gradient(to right, rgba(255,255,255,0.5) 0, rgba(255,255,255,0.5) 29px, transparent 30px);
        box-sizing: content-box;
        margin-left: -65px;
        padding-left: 55px;
        padding-bottom: 50px;
        width: 85%;
    }
    .qedge-slider .box-cover .intro:after {
        bottom: 20px;
        background: transparent url(images/arrow-right@2x.png) no-repeat right center;
        background-size: contain;
        content: " ";
        display: block;
        height: 10px;
        position: absolute;
        right: 50px;
        width: 100px;
    }
    .qedge-slider .box-cover .intro .title {
        font-size: 16px;
    }
    .qedge-slider .box-cover .intro .detail {
        color: rgba(255,255,255,0.8);
        font-size: 14px;
        line-height: 1.7;
    }
}



.qedge-intro {
    background-color: #FDF9F8;
    margin-top: 80px;
    padding: 70px 0;
}
.qedge-intro .qedge-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.qedge-intro .box-img {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.qedge-intro .box-content {
    padding: 0 70px 0 110px;
}
.qedge-intro .box-img.title img {
    position: relative;
    top: -73px;
    width: 125px;
}
.en .qedge-intro .box-img.title img {
    top: -93px;
}
.qedge-intro .box-img.photo img {
    width: 390px;
}
.qedge-intro .box-content img {
    height: 50px;
}
.qedge-intro .box-content p {
    color: #555555;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.7;
}
@media screen and (max-width: 1079px) {
    .qedge-intro {
        margin-top: 70px;
    }
    .qedge-intro .box-img img {
        display: block;
        max-width: 100%;
    }
    .qedge-intro .qedge-container {
        flex-wrap: wrap;
    }
    .qedge-intro .box-content {
        padding: 20px 50px;
    }
    .qedge-intro .box-img.title {
        align-items: flex-start;
        margin-left: -10px;
        padding: 20px 0;
    }
    .qedge-intro .box-img.title img {
        top: 0;
    }
    .en .qedge-intro .box-img.title img {
        top: 0;
    }
    .qedge-intro .box-img {
        box-sizing: border-box;
        align-items: center;
        padding: 20px 60px;
        width: 100%;
    }
}



.qedge-business {
    padding: 150px 0 0 0;
}
.qedge-business .qedge-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.qedge-business .box {
    overflow: hidden;
    position: relative;
    text-decoration: none;
    width: 23%;
}
.qedge-business .box:after {
    border-radius: 50%;
    background-color: #FDE9E4;
    bottom: 50%;
    content: " ";
    display: block;
    height: 80px;
    margin-bottom: -60px;
    margin-right: -40px;
    position: absolute;
    transition: all ease-in 0.15s;
    right: 50%;
    width: 80px;
    z-index: 10;
}
.qedge-business .box .contents {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 15px;
    position: relative;
    z-index: 20;
}
.qedge-business .box .title {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    padding: 0 0 10px 0;
    text-align: center;
}
.qedge-business .box .detail {
    color: #666666;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0 0 25px 0;
    text-align: center;
}
.qedge-business .box img {
    display: block;
    height: 60px;
    max-width: 100%;
    margin-bottom: 25px;
    transition: transform ease-in 0.1s;
}
.qedge-business .box span {
    color: #F2663B;
    font-size: 11px;
}
.qedge-business .box:hover {
    box-shadow: 3px 3px 10px 0 #FF9979;
}
.qedge-business .box:hover:after {
    background-color: #F2663B;
    height: 500px;
    margin-bottom: -300px;
    margin-right: -250px;
    width: 500px;
}
.qedge-business .box:hover img {
    transform: scale(1.2);
}
.qedge-business .box .detail,
.qedge-business .box span {
    transition: color ease-in 0.25s;
}
.qedge-business .box:hover .detail,
.qedge-business .box:hover span {
    color: #FFFFFF;
}
.en .qedge-business .box .title {
    line-height: 1.3;
    height: 42px;
    padding-bottom: 5px;
}
.en .qedge-business .box img {
    margin-top: 25px;
}
.en .qedge-business .box::after {
    margin-bottom: -70px;
}
.en .qedge-business .box:hover:after {
    margin-bottom: -300px;
}
@media screen and (max-width: 1079px) {
    .qedge-business {
        justify-content: space-between;
        padding-top: 100px;
    }
    .qedge-business .qedge-container {
        flex-wrap: wrap;
    }
    .qedge-business .box {
        justify-content: space-around;
        width: 45%;
    }
}




.qedge-partners {
    padding: 80px 0 150px 0;
}
.qedge-partners .qedge-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.qedge-partners .qedge-container .box-img {
    position: relative;
    top: -30px;
}
.qedge-partners .qedge-container .box-img.title img {
    width: 125px;
}
.qedge-partners .qedge-container .box-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    margin: 0 0 0 110px;
    padding: 0;
}
.qedge-partners .qedge-container .box-content .co {
    margin: 15px 0;
    width: 23%;
}
.qedge-partners .qedge-container .box-content .co img {
    display: block;
    max-width: 80%;
}
@media screen and (max-width: 1079px) {
    .qedge-partners .qedge-container .box-img img {
        display: block;
        max-width: 100%;
    }
    .qedge-partners {
        padding: 70px 0;
    }
    .qedge-partners .qedge-container {
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .qedge-partners .qedge-container .box-img {
        margin-left: -10px;
        position: static;
    }
    .qedge-partners .qedge-container .box-content {
        flex-wrap: wrap;
        margin: 0;
        padding: 20px 50px;
    }
    .qedge-partners .qedge-container .box-content .co {
        width: 45%;
    }
    .qedge-partners .qedge-container .box-content .co img {
        display: block;
        max-width: 100%;
    }
}



.qedge-footer {
    background-color: #262626;
    height: 500px;
    position: relative;
}
.qedge-footer .qedge-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.qedge-footer .box-img {
    padding-top: 70px;
}
.qedge-footer .box-img img {
    display: block;
    width: 100%;
}
.qedge-footer .box-img.title img {
    width: 125px;
}
.qedge-footer .box-address {
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    height: 460px;
    left: 50px;
    padding: 50px 150px 50px 50px;
    position: relative;
    top: 70px;
    width: 460px;
    z-index: 10;
}
.qedge-footer .box-address p {
    color: #FFFFFF;
    font-size: 15px;
    line-height: 1.7;
    margin: 0 0 40px 0;
    padding: 0;
}
.qedge-footer .box-qr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.qedge-footer .box-qr.desktop {
    background-color: #F2663B;
    background-image: url(images/bg-contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 390px;
    left: 50%;
    position: absolute;
    right: 0;
    top: -10px;
}
.qedge-footer .box-qr .qr {
    margin: 0 20px;
}
.qedge-footer .box-qr .qr img {
    display: block;
    margin: 0 auto 10px auto;
}
.qedge-footer .box-qr .qr .type {
    width: 45px;
}
.qedge-footer .box-qr .qr .code {
    height: 135px;
    width: 135px;
}
.qedge-footer .box-qr .qr p {
    color: #FFFFFF;
    font-size: 12px;
    text-align: center;
}
@media screen and (max-width: 1079px) {
    .qedge-footer {
        height: auto;
        margin-top: 20px;
        padding-bottom: 30px;
    }
    .qedge-footer .qedge-container {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .qedge-footer .box-img {
        margin-left: -10px;
        padding: 20px 0 15px 0;
    }
    .qedge-footer .box-address {
        height: auto;
        margin: 0 auto;
        max-width: 100%;
        padding: 20px;
        position: static;
        width: 320px;
    }
    .qedge-footer .box-address p {
        margin-bottom: 20px;
    }
    .qedge-footer .box-qr.desktop {
        background-image: url(images/m-bg-contact.png);
        height: 200px;
        z-index: 10;
    }
    .qedge-footer .box-qr .qr .type {
        width: 35px;
    }
    .qedge-footer .box-qr.mobile .code {
        height: 90px;
        width: 90px;
    }
}



.qedge-copyright {
    background-color: #363636;
    color: #FFFFFF;
    font-size: 12px;
    height: 50px;
    line-height: 50px;
    text-align: right;
}
.qedge-copyright span {
    display: inline-block;
    width: 50%;
    text-align: center;
}
@media screen and (max-width: 1079px) {
    .qedge-copyright {
        text-align: center;
    }
    .qedge-copyright span {
        width: 100%;
    }
}