﻿@model qedge.tac.local.Models.FeaturedEvent

<a href="@Model.URL" class="box">
    <div class="contents">
        <h5 class="title">@Model.Heading</h5>
        @Model.More
        <p class="detail" style="display: none;">@Model.Intro</p>
        @Model.QedgeImage
    </div>
</a>

@*<a href="http://it.qedge.cn/" class="box">
    <div class="contents">
        <h5 class="title">Digital Services</h5>
        <span>Explore</span>
        <p class="detail" style="display: none;">
            One One-stop IT Solution Provider
        </p>
        <img src="./QEDGE GROUP_files/ico-internettech.png" alt="">
    </div>
</a>
<a href="http://www.qedge.cn/isf/index-en.html" class="box">
    <div class="contents">
        <h5 class="title">International<br>Co-operation</h5>
        <span>Explore</span>
        <p class="detail" style="display: none;">
            Intelligent insights into international market
        </p>
        <img src="./QEDGE GROUP_files/ico-cooperation.png" alt="">
    </div>
</a>
<a href="http://www.qedge.cn/isf/index.html" class="box">
    <div class="contents">
        <h5 class="title">Investment &amp;<br>Incubation</h5>
        <span>Explore</span>
        <p class="detail" style="display: none;">
            International Hi-Tech Incubator
        </p>
        <img src="./QEDGE GROUP_files/ico-investment.png" alt="">
    </div>
</a>
<a href="http://it.qedge.cn/brand" class="box">
    <div class="contents">
        <h5 class="title">Brand Marketing</h5>
        <span>Explore</span>
        <p class="detail" style="display: none;">
            Drive sales growth with brand power
        </p>
        <img src="./QEDGE GROUP_files/ico-marketing.png" alt="">
    </div>
</a>*@