﻿@model qedge.tac.local.Models.Photo


<div class="box-img title">
    @Model.DesktopImage
    @Model.MobileImage
    @*<img class="visible-on-desktop" src="~/Images/en-AboutUs@2x.png" alt="About Us">
        <img class="visible-on-mobile" src="~/Images/en-m-AboutUs@2x.png" alt="About Us">*@
</div>