﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}

<div class="qedge-intro" id="anchor-aboutus">
    <div class="qedge-container">
        @Html.Sitecore().Placeholder("boxImage")
        <div class="box-content">
            @Html.Sitecore().Placeholder("qedgeIntro")
        </div>
        @Html.Sitecore().Placeholder("photo")
    </div>
</div>