﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}

<div class="qedge-footer" id="anchor-contactus">
    <div class="qedge-container">
        <div class="box-img title">
            @Html.Sitecore().Placeholder("boxImage")
            @*<img class="visible-on-desktop" src="~/Images/en-ContactUs@2x.png" alt="Contact Us">
            <img class="visible-on-mobile" src="~/Images/en-m-ContactUs@2x.png" alt="Contact Us">*@
        </div>
        <div class="box-address">
            @Html.Sitecore().Placeholder("qedgeIntro")
            @*<p>
                Phone<br>
                +86 532 68600500
            </p>
            <p>
                Email<br>
                info@qedge.cn
            </p>
            <p>
                Address<br>
                Rm1211, China Resources Building, No. 6A Shandong Road, Qingdao, Shandong, China <br><br>
                148 Qingjiang Road, Shibei District, Qingdao, Shandong, China
            </p>*@
            @Html.Sitecore().Placeholder("mobileImage")
        </div>
        <div class="box-qr desktop">
            @Html.Sitecore().Placeholder("wechatImage")
        </div>
    </div>
</div>

<!-- [Copyright] -->
<div class="qedge-copyright">
    <span>Copyright © 2017 QEdge Group All Rights Reserved.</span>
</div>
<!-- [/Copyright] -->