﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}

@Html.Sitecore().Placeholder("slideIntro")

<div class="qedge-business">
    <div class="qedge-container">
        @Html.Sitecore().Placeholder("featuredEvents")
    </div>
</div>