﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}

<div class="qedge-header">
    <div class="qedge-container">
        <div class="pure-menu pure-menu-horizontal">
            <!-- [Company Logo] -->
            <a href="http://qedge.tac.local" class="pure-menu-heading">
                <img src="~/Images/en-logo.png" alt="QEdge Group">
                @*@Html.Sitecore().Placeholder("qedgeIntro")*@
            </a>
            <!-- [/Company Logo] -->
            <!-- [Navigation] -->
            <div id="menu" class="menu-box">
                <!-- [Page Navigation] -->
                @Html.Sitecore().Placeholder("navigation")
                <!-- [/Page Navigation] -->
                <!-- [Language Navigation] -->
                <span class="lang">
                    <a class="active" href="http://qedge.tac.local/zh-CN">中</a>
                    <a href="http://qedge.tac.local/en">En</a>
                </span>
                <!-- [/Language Navigation] -->
                <a id="menu-close" class="menu-toggle visible-on-mobile" href="javascript:;">×</a>
            </div>
            <!-- [Navigation] -->
            <a id="menu-toggle" class="menu-toggle" href="javascript:;">≡</a>
        </div>
    </div>
    <div id="header-bg" style="opacity: 1;"></div>
</div>