﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}

<div class="qedge-partners" id="anchor-partners">
    <div class="qedge-container">
        <div class="box-img title">
            @Html.Sitecore().Placeholder("boxImage")
            @*<img class="visible-on-desktop" src="~/Images/en-Partners@2x.png" alt="Partners">
            <img class="visible-on-mobile" src="~/Images/en-m-Partners@2x.png" alt="Partners">*@
        </div>
        @Html.Sitecore().Placeholder("partner")
    </div>
</div>