﻿@model IEnumerable<qedge.tac.local.Models.NavigationItem>

<ul class="pure-menu-list" id="qedge-navs">
    @foreach (var navItem in Model)
    {
        <li class="pure-menu-item">
            <a href="@navItem.URL" class="pure-menu-link js-trigger">@navItem.Title</a>
        </li>
    }
</ul>

@*<ul class="pure-menu-list" id="qedge-navs">
    <li class="pure-menu-item"><a href="http://www.qedge.cn/en.html#" class="pure-menu-link js-trigger">Home</a></li>
    <li class="pure-menu-item"><a href="http://www.qedge.cn/en.html#anchor-aboutus" class="pure-menu-link js-trigger">About Us</a></li>
    <li class="pure-menu-item"><a href="http://www.qedge.cn/en.html#anchor-partners" class="pure-menu-link js-trigger">Partners</a></li>
    <li class="pure-menu-item"><a href="http://www.qedge.cn/en.html#anchor-contactus" class="pure-menu-link js-trigger">Contact Us</a></li>
</ul>*@