﻿@model qedge.tac.local.Models.Photo

<div class="qr visible-on-desktop">
    @Model.TypeImage
    @Model.CodeImage
    <p>@Model.Intro</p>
</div>

@*<div class="qr visible-on-desktop">
    <img class="type" src="~/Images/icon-wx.png" alt="">
    <img class="code" src="~/Images/qr-qedge.png" alt="">
    <p>Follow QEdge on WeChat</p>
</div>
<div class="qr visible-on-desktop">
    <img class="type" src="~/Images/icon-wx.png" alt="">
    <img class="code" src="~/Images/qr-zzsf.png" alt="">
    <p>Follow iSF on WeChat</p>
</div>*@