﻿@model IEnumerable<qedge.tac.local.Models.Partner>

<ul class="box-content">
    @*<li class="co"><img src="~/Images/co-mic.png" alt="Microsoft"></li>
    <li class="co"><img src="~/Images/co-adobe.png" alt="Adobe"></li>
    <li class="co"><img src="~/Images/co-sitecore.png" alt="SiteCore"></li>
    <li class="co"><img src="~/Images/co-amazon.png" alt="Amazon"></li>
    <li class="co"><img src="~/Images/co-huawei.png" alt="Huawei"></li>
    <li class="co"><img src="~/Images/co-zhongruan.png" alt="ZhongRuan"></li>
    <li class="co"><img src="~/Images/co-CAS.png" alt="CAS"></li>
    <li class="co"><img src="~/Images/co-gruden.png" alt="Gruden"></li>
    <li class="co"><img src="~/Images/co-grey.png" alt="Grey"></li>
    <li class="co"><img src="~/Images/co-intergraph.png" alt="InterGraph"></li>
    <li class="co"></li>
    <li class="co"></li>*@
    @foreach (var item in Model)
    {
        <li class="co">@item.Image</li>
    }
</ul>