﻿@model qedge.tac.local.Models.QedgeIntro


@Model.Image
<p>@Model.Intro</p>
@*<div class="box-content">
    @Model.Image
    <p>@Model.Intro</p>
</div>
<div class="box-img photo">
    @Model.Image
</div>*@

@*<div class="box-content">
    <img src="~/Images/logo-b.png" alt="">
    <p>
        QEdge Group, founded in 2008, is dedicated to research and development of Internet products, performance marketing, international co-operation, brand marketing, incubator and investment. In the past decade, we have worked on dozens of large-scale domestic and international projects With our experiences and technology, we have developed our own one-stop internet solution which enable our clients to maximize their investment through a wide range of products and supporting services, across mobile and digital.
    </p>
</div>
<div class="box-img photo">
    <img src="~/Images/img1.jpg" alt="">
</div>*@