﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
  Layout = null;
}

@*<!DOCTYPE html>
<html>
<head>
  <title>@Html.Sitecore().Field("title", new { DisableWebEdit = true })</title>
  @Html.Sitecore().VisitorIdentification()
</head>
  <body>
    <h1>@Html.Sitecore().Field("title")</h1>
    <div>
      @Html.Sitecore().Placeholder("main")
    </div>
  </body>
</html>*@

<!DOCTYPE html>
<!-- saved from url=(0030)http://www.qedge.cn/index.html -->
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="互联网信息软件开发,企业孵化器投资,国际高新技术合作">
    @*<meta name="description" content="睿哲控股成立于2008年,布局互联网信息软件开发、企业孵化器投资、国际高新技术合作三大领域，专注互联网产品研发、国际合作、企业孵化投资、品牌推广运营等，致力于为广大用户提供一站式的互联网解决方案，国内领先的兼备系统化产品与服务、具备大型项目实施经验和国际客户服务能力的综合性企业。">*@
    <meta name="description" content="@Html.Sitecore().Field("MetaDescription")">
    <title>@Html.Sitecore().Field("MetaTitle")</title>
    @*<title>睿哲控股</title>*@
    @Html.Sitecore().VisitorIdentification()
    <link rel="icon" type="image/png" href="http://it.qedge.cn/wp-content/uploads/2017/06/favicon.png">
    <link rel="stylesheet" href="~/Css/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Css/lightslider.min.css">
    <link rel="stylesheet" href="~/Css/qedge.css">
</head>
<body>
    <!-- [Page Header] -->
    @Html.Sitecore().Placeholder("pageHeader")
    <!-- [/Page Header] -->
    
    <!-- [Main Page] -->
    @Html.Sitecore().Placeholder("mainPage")
    <!-- [/Main Page] -->

    <!-- [About Us] -->
    @Html.Sitecore().Placeholder("aboutUs")
    <!-- [/About Us] -->

    <!-- [Partner Content] -->
    @Html.Sitecore().Placeholder("partnerContent")
    <!-- [/Partner Content] -->

    <!-- [Footer Content] -->
    @Html.Sitecore().Placeholder("footerContent")
    <!-- [/Footer Content] -->


    <script src="~/scripts/jquery-3.2.1.min.js"></script>
    <script src="~/scripts/lightslider.min.js"></script>
    <script src="~/scripts/moveTo.min.js"></script>
    <script src="~/scripts/qedge.js"></script>

</body>
</html>