﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
  Layout = null;
}

@*<!DOCTYPE html>
<html>
<head>
  <title>@Html.Sitecore().Field("title", new { DisableWebEdit = true })</title>
  @Html.Sitecore().VisitorIdentification()
</head>
  <body>
    <h1>@Html.Sitecore().Field("title")</h1>
    <div>
      @Html.Sitecore().Placeholder("main")
    </div>
  </body>
</html>*@

<!DOCTYPE html>
<!-- saved from url=(0030)http://www.qedge.cn/index.html -->
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="互联网信息软件开发,企业孵化器投资,国际高新技术合作">
    <meta name="description" content="睿哲控股成立于2008年,布局互联网信息软件开发、企业孵化器投资、国际高新技术合作三大领域，专注互联网产品研发、国际合作、企业孵化投资、品牌推广运营等，致力于为广大用户提供一站式的互联网解决方案，国内领先的兼备系统化产品与服务、具备大型项目实施经验和国际客户服务能力的综合性企业。">
    <title>睿哲控股</title>
    @Html.Sitecore().VisitorIdentification()
    <link rel="icon" type="image/png" href="http://it.qedge.cn/wp-content/uploads/2017/06/favicon.png">
    <link rel="stylesheet" href="~/Css/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Css/lightslider.min.css">
    <link rel="stylesheet" href="~/Css/qedge.css">
</head>
<body>
    <div class="qedge-header">
        <div class="qedge-container">
            <div class="pure-menu pure-menu-horizontal">
                <a href="http://www.qedge.cn/index.html#" class="pure-menu-heading">
                    <img src="~/Images/logo.png" alt="睿哲控股">
                </a>
                <div id="menu" class="menu-box">
                    <ul class="pure-menu-list" id="qedge-navs">
                        <li class="pure-menu-item active"><a href="http://www.qedge.cn/index.html#" class="pure-menu-link js-trigger">首页</a></li>
                        <li class="pure-menu-item"><a href="http://www.qedge.cn/index.html#anchor-aboutus" class="pure-menu-link js-trigger">关于我们</a></li>
                        <li class="pure-menu-item"><a href="http://www.qedge.cn/index.html#anchor-partners" class="pure-menu-link js-trigger">合作伙伴</a></li>
                        <li class="pure-menu-item"><a href="http://www.qedge.cn/index.html#anchor-contactus" class="pure-menu-link js-trigger">联系我们</a></li>
                    </ul>
                    <span class="lang">
                        <a class="active" href="http://www.qedge.cn/index.html">中</a>
                        <a href="http://www.qedge.cn/en.html">En</a>
                    </span>
                    <a id="menu-close" class="menu-toggle visible-on-mobile" href="javascript:;">×</a>
                </div>
                <a id="menu-toggle" class="menu-toggle" href="javascript:;">≡</a>
            </div>
        </div>
        <div id="header-bg"></div>
    </div>

    <div class="qedge-slider">
        <div class="box-cover">
            <div class="intro" id="slide-intros">
                <div class="active">
                    <h3 class="title">睿哲控股</h3>
                    <p class="detail">以高新技术创造互联网时代的价值</p>
                    <a href="http://www.qedge.cn/index.html" class="more">+了解更多</a>
                </div>
                <div>
                    <h3 class="title">睿哲信息</h3>
                    <p class="detail">一站式互联网解决方案提供商</p>
                    <a href="http://it.qedge.cn/" class="more">+了解更多</a>
                </div>
                <div>
                    <h3 class="title">智在四方 国际高新技术企业孵化器</h3>
                    <p class="detail">引领国际高新技术发展，孵化每一个创业梦想</p>
                    <a href="http://www.qedge.cn/isf/index.html" class="more">+了解更多</a>
                </div>
                <div>
                    <h3 class="title">国际合作中转站</h3>
                    <p class="detail">世界前沿技术引进  助力企业勇拓国际市场</p>
                    <a href="http://www.qedge.cn/isf/index-en.html" class="more">+了解更多</a>
                </div>
            </div>
            <div class="controls">
                <a id="slider-prev" href="javascript:;"></a>
                <a id="slider-next" href="javascript:;"></a>
            </div>
        </div>
        <div class="lSSlideOuter ">
            <div class="lSSlideWrapper usingCss">
                <ul id="lightSlider" class="lightSlider lsGrab lSSlide" style="width: 11418px; transform: translate3d(-1903px, 0px, 0px); height: 670px; padding-bottom: 0%;">
                    <li style="background-image: url(&quot;images/guojihezuo.jpg&quot;); width: 1903px; margin-right: 0px;" class="clone left"></li>
                    <li style="background-image: url(&quot;images/ruizhekonggu.jpg&quot;); width: 1903px; margin-right: 0px;" class="lslide active"></li>
                    <li style="background-image: url(&quot;images/ruizhexinxi.jpg&quot;); width: 1903px; margin-right: 0px;" class="lslide"></li>
                    <li style="background-image: url(&quot;images/zhizaisifang.jpg&quot;); width: 1903px; margin-right: 0px;" class="lslide"></li>
                    <li style="background-image: url(&quot;images/guojihezuo.jpg&quot;); width: 1903px; margin-right: 0px;" class="lslide"></li>
                    <li style="background-image: url(&quot;images/ruizhekonggu.jpg&quot;); width: 1903px; margin-right: 0px;" class="clone right"></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="qedge-business">
        <div class="qedge-container">
            <a href="http://it.qedge.cn/" class="box">
                <div class="contents">
                    <h5 class="title">互联网开发</h5>
                    <p class="detail">
                        一站式互联网解决方案提供商
                    </p>
                    <img src="~/Images/ico-internettech.png" alt="">
                    <span>点击进入</span>
                </div>
            </a>
            <a href="http://www.qedge.cn/isf/index-en.html" class="box">
                <div class="contents">
                    <h5 class="title">国际合作</h5>
                    <p class="detail">
                        前沿技术引进 国际市场开拓
                    </p>
                    <img src="~/Images/ico-cooperation.png" alt="">
                    <span>点击进入</span>
                </div>
            </a>
            <a href="http://www.qedge.cn/isf/index.html" class="box">
                <div class="contents">
                    <h5 class="title">投资孵化</h5>
                    <p class="detail">
                        国际高新技术企业孵化器
                    </p>
                    <img src="~/Images/ico-investment.png" alt="">
                    <span>点击进入</span>
                </div>
            </a>
            <a href="http://it.qedge.cn/brand" class="box">
                <div class="contents">
                    <h5 class="title">品牌推广</h5>
                    <p class="detail">
                        以品牌力驱动销售增长
                    </p>
                    <img src="~/Images/ico-marketing.png" alt="">
                    <span>点击进入</span>
                </div>
            </a>
        </div>
    </div>

    <div class="qedge-intro" id="anchor-aboutus">
        <div class="qedge-container">
            <div class="box-img title">
                <img class="visible-on-desktop" src="~/Images/AboutUs@2x.png" alt="About Us">
                <img class="visible-on-mobile" src="~/Images/m-AboutUs.png" alt="About Us">
            </div>
            <div class="box-content">
                <img src="~/Images/logo-b.png" alt="">
                <p>
                    睿哲控股成立于2008年，始终专注于互联网产品研发、服务、推广、运营等领域的研究与实践，业务范围涵盖互联网信息技术、国际合作、孵化器与投资、品牌推广等多个板块，以专业系统的独特发展模式，致力于为广大用户提供一站式的互联网解决方案，是国内领先的兼备系统化产品与服务、具备大型项目实施经验和国际客户服务能力的综合性企业。
                </p>
            </div>
            <div class="box-img photo">
                <img src="~/Images/img1.jpg" alt="">
            </div>
        </div>
    </div>

    <div class="qedge-partners" id="anchor-partners">
        <div class="qedge-container">
            <div class="box-img title">
                <img class="visible-on-desktop" src="~/Images/Partners@2x.png" alt="Partners">
                <img class="visible-on-mobile" src="~/Images/m-Partners.png" alt="Partners">
            </div>
            <ul class="box-content">
                <li class="co"><img src="~/Images/co-mic.png" alt="Microsoft"></li>
                <li class="co"><img src="~/Images/co-adobe.png" alt="Adobe"></li>
                <li class="co"><img src="~/Images/co-sitecore.png" alt="SiteCore"></li>
                <li class="co"><img src="~/Images/co-amazon.png" alt="Amazon"></li>
                <li class="co"><img src="~/Images/co-huawei.png" alt="Huawei"></li>
                <li class="co"><img src="~/Images/co-zhongruan.png" alt="ZhongRuan"></li>
                <li class="co"><img src="~/Images/co-CAS.png" alt="CAS"></li>
                <li class="co"><img src="~/Images/co-gruden.png" alt="Gruden"></li>
                <li class="co"><img src="~/Images/co-grey.png" alt="Grey"></li>
                <li class="co"><img src="~/Images/co-intergraph.png" alt="InterGraph"></li>
                <li class="co"></li>
                <li class="co"></li>
            </ul>
        </div>
    </div>

    <div class="qedge-footer" id="anchor-contactus">
        <div class="qedge-container">
            <div class="box-img title">
                <img class="visible-on-desktop" src="~/Images/ContactUs@2x.png" alt="Contact Us">
                <img class="visible-on-mobile" src="~/Images/m-ContactUs.png" alt="Contact Us">
            </div>
            <div class="box-address">
                <p>
                    联系电话<br>
                    +86 532 68600500
                </p>
                <p>
                    电子邮箱<br>
                    info@qedge.cn
                </p>
                <p>
                    公司地址<br>
                    青岛市市南区山东路 6 号甲华润大厦 1211 室<br><br>
                    青岛市市北区清江路148号
                </p>
                <div class="box-qr mobile">
                    <div class="qr visible-on-mobile">
                        <img class="type" src="~/Images/icon-wx.png" alt="">
                        <img class="code" src="~/Images/qr-qedge.png" alt="">
                        <p>扫描关注睿哲控股</p>
                    </div>
                    <div class="qr visible-on-mobile">
                        <img class="type" src="~/Images/icon-wx.png" alt="">
                        <img class="code" src="~/Images/qr-zzsf.png" alt="">
                        <p>扫描关注智在四方</p>
                    </div>
                </div>
            </div>
            <div class="box-qr desktop">
                <div class="qr visible-on-desktop">
                    <img class="type" src="~/Images/icon-wx.png" alt="">
                    <img class="code" src="~/Images/qr-qedge.png" alt="">
                    <p>扫描关注睿哲控股</p>
                </div>
                <div class="qr visible-on-desktop">
                    <img class="type" src="~/Images/icon-wx.png" alt="">
                    <img class="code" src="~/Images/qr-zzsf.png" alt="">
                    <p>扫描关注智在四方</p>
                </div>
            </div>
        </div>
    </div>

    <div class="qedge-copyright">
        <span>Copyright © 2017 睿哲控股 All Rights Reserved.</span>
    </div>


    <script src="~/scripts/jquery-3.2.1.min.js.下载"></script>
    <script src="~/scripts/lightslider.min.js.下载"></script>
    <script src="~/scripts/moveTo.min.js.下载"></script>
    <script src="~/scripts/qedge.js.下载"></script>

</body>
</html>