﻿@model IEnumerable<qedge.tac.local.Models.Photo>

<div class="box-qr mobile">
    @foreach (var item in Model)
    {
        <div class="qr visible-on-mobile">
            @item.TypeImage
            @item.CodeImage
            <p>@item.Intro</p>
        </div>
    }
    
</div>

@*<div class="box-qr mobile">
    <div class="qr visible-on-mobile">
        <img class="type" src="~/Images/icon-wx.png" alt="">
        <img class="code" src="~/Images/qr-qedge.png" alt="">
        <p>Follow QEdge on WeChat</p>
    </div>
    <div class="qr visible-on-mobile">
        <img class="type" src="~/Images/icon-wx.png" alt="">
        <img class="code" src="~/Images/qr-zzsf.png" alt="">
        <p>Follow iSF on WeChat</p>
    </div>
</div>*@